{% extends 'store/index.html' %}
{% load static %}
{% block content %}
    <div class = "wrapper">
        <div class="sidebar">
            <header>
                <a href="#">Catégorie</a>
            </header>
            <ul class="nav" id="menu">
                <li><a href="/" class="active"> Tous</a></li>
                {% for cat in categories %}
                <li><a href="/?categories={{cat.id}}"> {{cat.name}}</a></li>
                {% endfor %}
            </ul>    
        </div>     
        <div class="container-fluid row">
            {% for product in products %}
            <div class="col-lg-6">
                <img class="thumbnail" src="{{ product.imageUrl }}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>
                    {% if product.sales %}
                    <h4 class="newprice float-right">{{product.discounted_price|floatformat:2}}€</h4>
                    {% else %}  
                    <h4 class="price float-right">{{product.price|floatformat:2}}€</h4>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>      
    </div>    
{% endblock content %}
